:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-text: #212121;
  --secondary-text: #757575;
  --logo-text: #000000;
  --sectional-color: #2f303a;
  --hover-btn-color: #2196f3;
  --secondary-color: #ffffff;
  --color-phone-email: rgba(255, 255, 255, 0.6);
  --btn-color-nav: #f5f4fa;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-heder-container {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.list-contact {
  display: flex;
  align-items: center;
}
.logo-image {
  margin-right: 93px;
}
.main-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px;
  border-color: #ececec;
}
.menu-iten:not(:last-child) {
  margin-right: 50px;
}

.body-title {
  font-family: var(--main-font);
  color: var(--main-text);
}

.logo-image {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text);
}

.web-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-btn-color);
}

.list {
  list-style: none;
}

.linc {
  text-decoration: none;
}
.list-contact {
  margin-left: auto;
}

.menu-linc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.menu-linc:hover,
.menu-linc:focus {
  color: var(--hover-btn-color);
}

.email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}
.email-phone {
  margin-left: 50px;
}

.email:hover,
.email:focus {
  color: var(--hover-btn-color);
}

.contakt-phone-namber {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}

.contakt-phone-namber:hover,
.contakt-phone-namber:focus {
  color: var(--hover-btn-color);
}

.hero {
  text-align: center;
  background: var(--sectional-color);

  padding-top: 200px;

  padding-bottom: 280px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;
  text-align: center;
}

.modal-buttom {
  padding-left: 32px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;

  background: var(--hover-btn-color);
  border: 0px;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-title-list {
  display: flex;
}

.main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text);
  margin-bottom: 10px;
}
.sud-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}
.sub-title-margin:not(:last-child) {
  margin-right: 30px;
}

.pages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text);

  margin-bottom: 50px;
  text-align: center;
}
.box-images-container {
  display: flex;
}
.box-imeges-margin:not(:last-child) {
  margin-right: 30px;
}
.images {
  display: block;
  max-width: 100%;
  height: auto;
}
.teem-section {
  background: #f5f4fa;
}
.neme-box {
  display: flex;
  margin-top: 50px;
}
.imeges-employees:not(:last-child) {
  margin-right: 30px;
}
.box-border {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-direction {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.sub-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
  margin-top: 10px;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.address-list {
  margin-top: 20px;
}

.footer-title {
  background: var(--sectional-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-nav:not(:last-child) {
  margin-bottom: 9px;
}

.main-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.enail-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-phone-email);
}

.phone-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-phone-email);
}

/*portfolio*/
.butoon-position {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.list-box:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  background-color: #f5f4fa;
  color: var(--main-text);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}
.displey-portfolio {
  display: flex;
  flex-wrap: wrap;
  /*gap:30px ще один варіан відступів*/
}

.portfolio-box:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-box:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-box {
  width: calc((100% - 60) / 3);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--hover-btn-color);
  color: var(--secondary-color);
}

img {
  display: block;
}
.displey-portfolio-div {
  background: #ffffff;

  border-top: 0px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.suptitle-images {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text);
  margin-bottom: 4px;
}
.margin-carls {
  padding-bottom: 94px;
}

.description-suptitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
}

.address-list {
  font-style: normal;
}
